<p>cab-type works!</p>
<div class="container-fluid">

    <div class="row">
  
      <div class="col-6 col-lg-3 col-sm-4 col-xl-2" *ngFor="let car of items" >


         <div class="card mb-4 shadow bg-light">
          
              <img class="card-img-top" src="https://www.motortrend.com/uploads/sites/5/2020/09/2021-toyota-camry-02.jpg?fit=around%7C875:492.1875" class="img-fluid" alt="{{car.name}}"/>

            <div class="card-body">
              <h5 class="card-title">NAME: {{car.name}}</h5>
              <h5>ID: {{car.id}}</h5>
            </div>      
          </div>
  
      </div>
  
    </div>
  
  </div>

  <div class="container">
      <h2>Add New</h2>
    <form  (ngSubmit) = 'addNew()' #addForm="ngForm">

        <div class="form-group">
          <label for="id">ID</label>
          <input
          name="id"[(ngModel)]="itemModel.id"
            type="number"
            class="form-control"
            id="id"
          />
        </div>
        <div class="form-group">
          <label for="name">CAB NAME</label>
          <input type="text" class="form-control" id="name"  name="name" [(ngModel)]="itemModel.name"/>
        </div>

        <input type="submit" class="btn btn-primary" value="submit"/>
      </form>

</div>

<div class="container">
    <h2>DELETE ONE</h2>
  <form  (ngSubmit) = 'deleteOne()' #addForm="ngForm">

      <div class="form-group">
        <label for="id">ID</label>
        <input
        name="id"[(ngModel)]="itemModel.id"
          type="number"
          class="form-control"
          id="id"
        />
      </div>
      <div class="form-group">
        <label for="name">CAB NAME</label>
        <input type="text" class="form-control" id="name"  name="name" [(ngModel)]="itemModel.name"/>
      </div>

      <input type="submit" class="btn btn-primary" value="submit"/>
    </form>

</div>

<div class="container">
    <h2>Update ONE</h2>
  <form  (ngSubmit) = 'updateOne()' #addForm="ngForm">

      <div class="form-group">
        <label for="id">ID</label>
        <input
        name="id"[(ngModel)]="itemModel.id"
          type="number"
          class="form-control"
          id="id"
        />
      </div>
      <div class="form-group">
        <label for="name">CAB NAME</label>
        <input type="text" class="form-control" id="name"  name="name" [(ngModel)]="itemModel.name"/>
      </div>

      <input type="submit" class="btn btn-primary" value="submit"/>
    </form>

</div>